* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    To Do:
    1. Add a class to all buttons classes for 
        touch effect on click
    2. Merge the (+) and (?) buttons so it gets larger
    3. Make a class for the screen to be off (darker)
        and on (lighter, when the (ON) button is pressed) [JS Required]
    4. Add Media Queries for Responsive Behavior on Mobile Phones
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    min-width: 375px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/equations.jpg');
    background-size: cover;
    background-position: center;
}

#calculator {
    width: 300px;
    height: 400px;
    background-color: grey;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 5px darkslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem;
    gap: 2rem;
}

.screen-container {
    width: 100%;
    height: 25%;
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0rem;
    box-shadow: 0px 0px 2px 2px white;
}

.calculator-screen {
    width: 95%;
    height: 95%;
    background-color: lightblue;
    box-shadow: 0px 0px 2px 2px lightblue;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem;
    font-size: xx-large;
    font-family: 'Orbitron', sans-serif;
}

.screen-off {
    background-color: rgb(93, 123, 133);
    box-shadow: 0px 0px 2px 2px rgb(93, 123, 133);
}

.calculator-keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.calculator-keyboard > button {
    width: 45px;
    height: 50px;
    border-radius: 0.5rem;
    font-size: large;
}

.operator-grey:hover,
.num-button:hover {
    background-color: grey;
    cursor: pointer;
}

.operator-grey,
.num-button {
    background-color: rgb(216, 214, 214);
    border: 2px solid darkgrey;
    box-shadow: 0px 0px 1px 1px rgb(90, 89, 89);
}

.on-button {
    color: white;
    background-color: rgb(158, 0, 0);
    border: 1px solid rgb(177, 22, 22);
    box-shadow: 0px 0px 1px 1px rgb(177, 22, 22);
}

.on-button:hover {
    background-color: white;
    color: rgb(158, 0, 0);
    cursor: pointer;
}

.ce-button {
    color: white;
    background-color: rgb(6, 6, 151);
    border: 1px solid rgb(59, 59, 151);
    box-shadow: 0px 0px 1px 1px rgb(6, 6, 151);
}

.ce-button:hover {
    background-color: white;
    color: rgb(6, 6, 151);
    cursor: pointer;
}